.login{
    width: 350px;
    height: 450px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 214);
    box-shadow: 1px 1px 1px gray;
    position: fixed;
    top: calc(5vh + 100px);
    left: calc(50% - 200px);
}
.loginInputs{
    width: 80%;
    height: 20px;
    border-radius: 5px;
    margin: 0 auto;
}
.loginButton{
    width: 80%;
    height: 20px;
    margin: 0 auto;
}

.loginText{
    text-align: left;
    margin-left: 10%;
}

.closeButton {
    width: 75px;
    height: 30px;
    margin: 20px 20px 30px auto;
}

.loginError {
    margin: 0 auto;
}